{% extends "base.html" %}
{% block content %}

	<h1>Hello</h1>


	{% block body %}
<div class="content">
    <h1 style="text-align: center">Task Master</h1>
    {% if questions|length < 1 %}
    <h4 style="text-align: center">There are no tasks. Create one below!</h4>
    {% else %}
    <table>
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        {% for q in questions %}
            <tr>
                <td>{{ q.question }}</td>
				<td>{{ q.answer }}</td>
                <td>{{ q.date_created.date() }}</td>
				<td>
					<table>
					{% for tag in q.tags %}
					
						<tr>
							<td>{{tag.tag}}</td>
						</tr>
					
					{% endfor %}
				</table>
				</td>
                <td>
                    <a href="">Delete</a>
                    <br>
                    <a href="">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    <div class="form">
        <form action="/" method="POST">
            <input type="text" name="question" id="question">
			<input type="text" name="answer" id="answer">
			<input type="text" name="tag" id="tag">
            <input type="submit" value="Add Task">
        </form>
    </div>
</div>
{% endblock %}

{% endblock %}